.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.array-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 80%;
  height: 100%;
}

.array-bar {
  flex: 1;
  width: 2px;
  margin: 0 1px;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}